
<div id="<%= dom_id course %>">
  
  




<div class="card shadow hover-zoom" style="background: url(<%=course.img%>)">
  <div class="bg-image hover-shadow ripple" data-mdb-ripple-color="light" style="width: 100%; height: 100px;">
    <img src="" class="img-fluid" style=""/>
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong><%= course.title %></strong></h5>
    
    <div style="background: white; opacity: 0.7; border-radius: 10px;">
    
    <p class="card-text p-1" style="opacity: 2"><%= course.body %></p>
    </div>
    <%= link_to "See Course", course, class: "btn btn-primary mt-3" %>
  </div>
</div>

</div>